
#root {
    -fx-background-color: white;
}

#bienvenida{
    -fx-font-size: 150%;
    -fx-font-family: Papyrus ;
}
#vBox {
    -fx-background-color: #BC070E;
}

#labelMenu {
    -fx-background-color: #c0c060
}